<div class="footer" id="footer" role="contentinfo">
  <div class="row">
    <div class="footer__about">
      <h2><%= site_name %></h2>
      <%= render :partial => 'general/responsive_credits' %>
      <ul class="about__contact-links">
        <li>
          <%= link_to _('Contact us'), help_contact_path %>
        </li>
        <li>
          <%= link_to _('Help'), help_path %>
        </li>
        <li>
          <%= link_to _('Privacy and cookies'), help_privacy_path %>
        </li>
        <li>
          <%= link_to _('API'), help_api_path %>
        </li>
        <% if feature_enabled?(:pro_pricing) %>
        <li>
          <%= link_to _('{{pro_site_name}} Terms',
                        pro_site_name: AlaveteliConfiguration.pro_site_name),
                        pro_page_path(:id => 'legal') %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="front-partners">
  <h5>Proiect derulat de:</h5>
    <div id="fp-partners-logos">
      <a href="http://sar.org.ro/" target="_blank"><img src="/assets/images/logos/SAR Societatea Academica Romania.png" alt="Societatea Academica din Romania"></a>
      <a href="http://actfortomorrow.ro/" target="_blank"><img src="/assets/images/logos/act for tomorrow.png" alt="act for tomorrow"></a>
      <a href="https://www.velnett.no/" target="_blank"><img src="/assets/images/logos/Vellenes Fellesorganisasjon.png" alt="Vellenes Fellesorganisasjon"></a>
    </div>
    <div class="funding_disclaimer">
      Proiectul este derulat de <a rel="nofollow" href="http://sar.org.ro/" target="_blank">Societatea Academică din România</a>, în parteneriat cu <a rel="nofollow" href="http://actfortomorrow.ro/" target="_blank">Asociația Act For Tomorrow</a> și <a rel="nofollow" href="https://www.velnett.no/" target="_blank">Vellenes Fellesorganisasjon</a> și beneficiază de o finanțare în valoare de 249.989 euro, prin programul <a rel="nofollow" href="http://www.activecitizensfund.ro" target="_blank">Active Citizens Fund România</a> – finanțat de Islanda, Liechtenstein și Norvegia prin <a rel="nofollow" href="http://www.eeagrants.org" target="_blank">Granturile SEE 2014-2021</a>. Conținutul acestui website nu reprezintă în mod necesar poziția oficială a Granturilor SEE și Norvegiene 2014-2021; pentru mai multe informații accesați <a rel="nofollow" href="http://www.eeagrants.org">www.eeagrants.org</a>. Informații despre Active Citizens Fund România sunt disponibile la <a rel="nofollow" href="http://www.activecitizensfund.ro">www.activecitizensfund.ro</a>. <!-- x -->
    </div>
  </div> 
  <div class="footer__final">
    <div class="row">
      <div class="final__social-links">
        <ul>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
