<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">Pentru ce este  <%= site_name %> for? <a href="#purpose">#</a> </dt>
    <dd>Pentru a te ajuta să afli informații din interior despre ceea ce fac instituțiile statului.
    </dd>

    <dt id="premise">Cum funcționează site-ul? <a href="#premise">#</a> </dt>
    <dd>Alege autoritatea publică de la care vrei informații, apoi scrie o scurtă notă in care descrii ceea ce vrei să afli. Apoi trimite cererea către autoritatea publică. Orice răspuns pe care îl primești este publicat automat pe site, astfel încât tu sau și oricine altcineva să îl poată accesa.
    </dd>

    <dt id="whybother_me">De ce m-aș deranja să fac asta? <a href="#whybother_me">#</a> </dt>
    <dd>Plătești impozite, din care statul/ guvernul ar trebui să facă investiții:  lucruri care îți afectează viața, de la asistența medicală până la apărarea națională. Unele instituții see descurcă rău, altele se descurcă bine. Cu cât aflăm mai multe despre cum funcționează instituțiile statului, cu atât suntem mai capabili să facem sugestii pentru a îmbunătăți lucrurile care sunt făcute prost și pentru a promova lucrurile care sunt făcute bine.
    </dd>

    <dt id="whybother_them">De ce s-ar obosi autoritatea publică să răspundă? <a href="#whybother_them">#</a> </dt>
    <dd>În conformitate cu legea privind libertatea de informare (FOI), instituțiile publice sunt obligate să răspundă. Răspunsul fie va conține informațiile dorite, fie va oferi un motiv legal valabil pentru care trebuie păstrate confidențial.
    </dd>

    <dt id="reporting">Ce se întâmplă dacă văd o solicitare pe care o simt a fi nepotrivită?  <a href="#reporting">#</a></dt>
    <dd>
      <p>
Solicitările de informații personale și cererile ofensatoare nu sunt considerate valide în scopuri de FOI.      </p>

      <p>
Dacă crezi că o solicitare nu este potrivită, o poți raporta către administratorii site-ului.      </p>
    </dd>

    <dt id="reporting_unavailable">De ce nu pot să raportez unele solicitări?  <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        Dacă o solicitare a fost deja raportată administratorilor site-ului, nu o poți raporta a doua oară - aceasta este pentru a împiedica administratorii să fie notificați de mai multe ori despre aceeași problemă înainte de a avea șansa de a efectua o revizuire.
      </p>

      <p>
        În cazul în care o solicitare a fost raportată anterior, dar un administrator a ales să nu o ascundă publicului, dacă tot crezi că ar trebui să fie ascunsă, poți utiliza formularul din bara laterală a paginii de solicitare pentru a contacta administratorii.
      </p>
    </dd>

   

<!--    <dt id="updates">Cum pot fi la curent cu știrile despre  <%= site_name %>?<a href="#updates">#</a> </dt>
    <dd>Avem un <a href="<%= blog_path %>">blog</a><% if !MySociety::Config.get('TWITTER_USERNAME', '').empty? %> and a <a href=https://twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME', '') %>>twitter feed</a><% end %>.
    </dd> -->

  </dl>

  <p><strong>&rarr;</strong> Citiți despre <a href="<%= help_requesting_path %>"> efectuarea cererilor </a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
