<% @title = "Contactează-ne" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>Conteactează o autoritate pentru a obține informații oficiale.</h2>
    <ul>
      <li><a href="<%= new_request_path %>">Aici poți iniția o cerere publică de informații</a> către o autoritate oficială.</li>

      <li>
        Vrei să soliciți informații despre tine?
        Te rugăm să consulți
        <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">ghidul de utilizare</a>.
      </li>
    </ul>

  <% end %>

  <h2>Contactează echipa the <%= site_name %></h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
        Te rugăm să parcurgi întâi <a href="<%= help_about_path %>">ghidul de utilizare</a>, s-ar putea să obții mai repede un răspuns la întrebarea ta.
      </li>
      <li><%= site_name %> este un proiect <strong>de inițiativă publică</strong>, <mark>nu este un instrument oficial.</mark></li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name">Nume:</label>
      <%= f.text_field :name, :size => 20 %>
      (or <%= link_to "sign in", signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email">Email:</label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject">Subiect:</label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message">Mesaj:</label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
  </p>

  <% if !@last_request.nil? %>
    <p>
      <label class="form_label" for="contact_message">Atașează o solicitare:</label>
      <%=request_link(@last_request) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>
  <% if !@last_body.nil? %>
    <p>
      <label class="form_label" for="contact_message">Atașează o autoritate:</label>
      <%=public_body_link(@last_body) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>

  <p class="form_note">
    Vă putem ajuta doar cu <strong>probleme tehnice</strong>, sau întrebări despre cererile de informații publice.
  </p>


  <div class="form_button">
    <%= hidden_field_tag(:submitted_contact_form, 1) %>
    <%= submit_tag "Send message to the charity", :data => { :disable_with => "Sending..." } %>
    <!-- &lt;-- we run this site, not the Government! -->
  </div>

<% end %>
