<% @title = "Confidențialitate" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>

    <dt id="email_address">Cine poate vedea adresa mea de e-mail? <a href="#email_address">#</a> </dt>

    <dd><p>Nu vom dezvălui adresa ta de e-mail nimănui, decât dacă suntem obligați prin lege sau ne soliciți tu. Aceasta include autoritatea publică căreia îi trimiți o solicitare. Ei ajung să vadă doar o adresă de e-mail 
        @<%= AlaveteliConfiguration::incoming_email_domain %> care este specifică acelei solicitări.</p>
      <p>Dacă trimiți un mesaj unui alt utilizator de pe site, acesta va putea vedea adresa dvs. de e-mail. Vei fi informat că acest lucru se va întâmpla.</p>
    </dd>

    <dt id="nasty_spam">Imi veți trimite spam pe adresa mea de e-mail?<a href="#nasty_spam">#</a> </dt>
    <dd>Nu. După ce te înscrii pe  <%= site_name %>, iti vom trimite doar e-mailuri referitoare la o solicitarile facute, o alertă prin e-mail pentru alte situatii pe care le autorizați în mod special. Nu vom oferi sau vinde niciodată adresele tale de e-mail nimănui, cu excepția cazului în care suntem obligați prin lege sau ne ceri tu.
    </dd>

    <dt id="public_request">De ce numele meu și cererea mea vor apărea public pe site? <a href="#public_request">#</a> </dt>

    <dd>
      <p>Publicăm cererea ta pe Internet, astfel încât oricine să o poată citi și să folosească informațiile pe care le-ai găsit. În mod normal, nu ștergem solicitările. (<a href="#delete_requests">vezi șî</a>).
      </p>
      <p>
       Numele tău este asociat cu solicitarea ta, așa că trebuie publicat și el. Este corect, deoarece vom publica numele funcționarului public care scrie răspunsul la cererea ta. Folosirea numelui tău real ajută, de asemenea, oamenii să ia legătura cu tine pentru a te ajuta cu cercetarea sau pentru a face campanie impreuna cu tine.
      </p>
      <p>Prin lege, trebuie să folosesti numele tau real pentru ca cererea să fie o cerere valabilă. Consulta următoarea întrebare pentru alternative, dacă nu doresti ca numele complet să fie public.
      </p>
    </dd>

    <dt id="real_name">Pot face o solicitare FOI folosind un pseudonim? <a href="#real_name">#</a> </dt>


    <dd>
      <p>Din punct de vedere tehnic, trebuie să utilizezi numele tau real pentru ca cererea să fie o cerere valabilă, conform legii.
      </p>

      

      <p>Există mai multe alternative bune pentru utilizarea unui pseudonim.</p>

      <ul>
  <li>Poti utiliza o formă diferită a numelui. De exemplu, daca numele tau este Andrei Ioan Popescu, pentru ca cererea sa fie valida, te poti semna ca Andrei Popescu, A.I. Popescu, Popescu, dar NU Andrei sau Ioan sau A.I.P.</li>
<li>Poti utiliza numele unei organizații, numele unei companii, numele comercial al unei companii sau numele comercial al unui comerciant unic.</li>
<li>Cere altcuiva să facă cererea în numele tau.</li>
<li>Poți, dacă esti într-adevăr fara solutii, să ne ceri să facem cererea în numele tau. Te rugăm să ne contactezi cu un motiv întemeiat pentru care nu poți face singur solicitarea și nu poți cere unui prieten sa te ajute. Nu avem resursele necesare pentru a face acest demers pentru toată lumea.</li>

      </ul>

      <p>Te rugăm să nu încerci să uzurpezi identitatea altcuiva.</p>

    </dd>

    <dt id="full_address">Mi-au cerut adresa poștală!  <a href="#full_address">#</a> </dt>

    <dd>
      <p>Dacă o autoritate publică iti solicită adresa fizică completă, răspunde-i spunând că secțiunea 8.1.b din Legea privind FOI solicită o „adresă pentru corespondență” și că adresa de e-mail pe care o utilizezi este suficientă.
      </p>
    </dd>

    <dt id="postal_answer">Nu, nu, au nevoie de o adresă poștală pentru a trimite un răspuns pe hârtie!  <a href="#postal_answer">#</a> </dt>

    <dd>
      <p>Dacă o autoritate are doar o copie pe hârtie a informațiilor pe care le vrei, iti poate solicita o adresă poștală. Pentru început, încearca să-i convingi să scaneze documentele pentru tine. </p>

      <p>Dacă acest lucru nu funcționează și vrei să furnizezi adresa ta poștală în mod privat pentru a primi documentele, marcheaza solicitarea ca „Vor să răspundă prin poștă”, iar acestia iti vor oferi o adresă de e-mail pe care să o utilizezi în acest scop.</p>
    </dd>

    <dt id="delete_requests">Puteți șterge solicitările mele sau îmi puteți modifica numele? <a href="#delete_requests">#</a> </dt>

    <dd>

      <p><%= site_name %> Întrebări este o arhivă permanentă, publică, a cererilor privind libertatea de informare. Chiar dacă este posibil să nu mai găsești util răspunsul la o solicitare, poate fi de interes pentru alții. Din acest motiv, nu vom șterge solicitările.
      </p>

      <p>În circumstanțe excepționale, putem elimina sau schimba numele de pe site, <a href="#takedown">vedeți următoarea întrebare</a>. În mod similar, putem elimina și alte informații personale.
       
      </p>

      <p>Dacă esti îngrijorat de acest lucru înainte de a face cererea, consulta secțiunea despre  <a href="#real_name">pseudonime</a>.</p>
    </dd>
    <dt id="takedown">Puteți elimina informațiile personale despre mine?<a href="#takedown">#</a> </dt>
    <dd>

      <p>Dacă vedeți informații personale despre tine pe site pe care vrei să le eliminăm sau să le ascundem, <a href="<%= help_contact_path %>"> te rugăm să ne anunți</a>.
        Specifici exact ce informații crezi că sunt problematice și de ce și unde apar pe site.</p>
      <p>Dacă este vorba de informații personale sensibile care au fost postate accidental, atunci de obicei le vom elimina. În mod normal, vom lua în considerare doar cererile de eliminare a informațiilor personale care provin de la persoana în cauză, dar pentru informațiile sensibile am aprecia pe oricine să ne semnaleze acest aspect.</p>

      <p>Considerăm că există un interes public puternic în păstrarea numelor funcționarilor sau autorităților publice. Vom elimina astfel de nume numai în circumstanțe excepționale, cum ar fi în cazul în care dezvăluirea unui nume și a unei poziții de angajare ar risca în mod substanțial siguranța unei persoane. Dacă sunteți un astfel de funcționar și doriți să vă înlăturați numele dintr-un motiv atât de urgent, trebuie să ne transmiteți o solicitare din partea managerului dvs. pentru a face acest lucru. Această solicitare trebuie să demonstreze că a fost perceput un risc care depășește interesul public și trebuie să demonstreze că s-au depus eforturi pentru a ascunde numele pe propriul site web al organizației.</p>
      <p>Pentru toate celelalte solicitări aplicăm un test de interes public pentru a decide dacă informațiile ar trebui eliminate. <mark>Secțiunea 32 din Legea privind protecția datelor din 1998 ne permite să facem acest lucru, deoarece materialul pe care îl publicăm este jurnalistic.</mark> Nu putem edita cu ușurință multe tipuri de atașamente (cum ar fi PDF-uri sau fișiere Microsoft Word sau Excel), așa că, de obicei, le vom cere autorităților să le trimită din nou cu informațiile personale eliminate.</p>
    </dd>
  </dl>


    <div id="hash_link_padding"></div>
</div>