<% @title = "Efectuarea cererilor" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority">Nu sunt sigur cărei autorităţi să adresez cererea, cum pot afla?  <a href="#which_authority">#</a> </dt>

    <dd>
      <p>Poate fi greu să descurci structura complicată a statului și să descoperi cine deține informațiile pe care le dorești. Iată câteva sfaturi:
      </p>
      <ul>
        <li>Răsfoieste  <%= site_name %> în căutarea unor cereri similare cu ale tale.</li>
        <li>Când ai găsit o autoritate despre care crezi că ar putea avea informațiile, utilizeaza linkul <em>pagină de pornire</em> din partea dreaptă a paginii pentru a verifica pe site-ul lor ceea ce face acea autoritate.</li>
        <li>Contactaeaza autoritatea prin telefon sau e-mail pentru a întreba dacă dețin tipul de informații pe care le cauți.</li>
        <li>Nu iti face griji excesive. Dacă ai înțeles greșit, ar trebui să vă sfătuiască cui să adresezi cererea.
        </li>
        <li>Dacă ai un caz complicat, te rog să ne contactezi pentru ajutor.</li>
      </ul>

    </dd>



    <dt id="missing_body">Îți lipsește autoritatea publică la care vrei să faci o solicitare!  <a href="#missing_body">#</a> </dt>

    <dd>
      <p>Te rugăm  <a href="<%= new_change_request_path %>">să ne contactezi</a> și să ne transmiți numele autorității publice și, dacă o puteți găsi, îți vom trimite adresa de e-mail pentru solicitările privind libertatea de informare.
      </p>
      <p>Dacă doriți să ajutați la adăugarea unei categorii de autoritate publică pe site, ne-ar plăcea să aflăm și noi.
      </p>

    </dd>

    <dt id="authorities">De ce includeți unele autorități care nu sunt supuse oficial FOI? <a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> îți permite să faci cereri de informații către o serie de organizații:</p>

      <ul>
        <li>Cei supuși în mod oficial Legii FOI</li>
        <li>Cei supuși în mod oficial reglementărilor de mediu (un grup mai puțin bine definit)</li>
        <li>Cele care respectă în mod voluntar Legea FOI</li>
        <li>Cei care nu sunt supuși Legii, dar credem că ar trebui să fie (au responsabilități publice semnificative).</li>
      </ul>

      <p>În ultimul caz, folosim site-ul pentru a face lobby pentru extinderea domeniului de aplicare a Legii FOI. Chiar dacă o organizație nu este obligată din punct de vedere legal să răspundă la o solicitare FOI, ea poate face acest lucru în mod voluntar.
      </p>

    </dd>

    <dt id="focused">De ce trebuie să-mi păstrez succintă cererea? <a href="#focused">#</a> </dt>

    <dd>

      <p>
        Te rog să introduci în cerere doar ceea ce este necesar, astfel încât cineva să poată identifica cu ușurință ce informații soliciți. Te rugăm <em>să nu incluzi</em> niciunul dintre următoarele:
      </p>

      <ul>
        <li>argumente despre problema ta</li>
        <li>declarații care ar putea defăima sau insulta pe alții</li>

      </ul>

      <p>
        Dacă faci acest lucru, este posibil să fim nevoiți să eliminăm solicitarea, pentru a evita problemele cu legea calomniei, ceea ce este ar reprezenta o problema atât pentru tine, cât și pentru noi. Mesajele scurte și succinte le ajută autorităților să înțeleagă ce informații solicitați, ceea ce înseamnă că vei primi un răspuns mai rapid.
      </p>

      <p>
        Dacă vrei informații care să susțină un argument sau o campanie, Libertatea Informației este un instrument puternic. Deși este posibil să nu utilizezi acest site pentru a derula o campanie, te încurajăm să îl utilizezi pentru a obține informațiile de care ai nevoie. De asemenea, te încurajăm să desfășori campania si pe alte canale - o modalitate eficientă și foarte simplă este să deschizi propriul blog. 
        <% if AlaveteliConfiguration::enable_annotations %>
          Esti binevenit să faci un link către campania ta de pe acest site, într-o adnotare la solicitarea ta. (poți face adnotări după ce ai trimis solicitarea).
        <% end %>
      </p>

    </dd>

    <dt id="fees">Mă costă ceva să fac o cerere?<a href="#fees">#</a> </dt>

    <dd>

      <p>Efectuarea unei solicitări FOI este aproape întotdeauna gratuită.</p>

      <p>Autoritățile includ adesea în mesajele de recunoaștere care nu sunt necesare, înfricoșătoare, care spun că „poate” percepe o taxă. Ignora astfel de notificări. Aproape niciodată nu vor percepe o taxă. Dacă o fac, te pot taxa doar dacă ați convenit în avans în mod expres să plătesti. 
      </p>
    </dd>



    <dt id="quickly_response">Cât de repede voi primi un răspuns?<a href="#quickly_response">#</a> </dt>

    <dd>
      <p>Prin lege, autoritățile publice trebuie să răspundă <strong>prompt</strong> solicitărilor.
      </p>

      <p>Chiar dacă nu sunt prompti, în aproape toate cazurile trebuie să răspundă în termen de 10 zile lucrătoare. Dacă a a fost nevoie să-ți clarifici cererea, atunci s-ar putea să aibă nevoie de mai mult timp (dar nu mai mult de 30 de zile).
      </p>
      <p><%= site_name %>  iti va trimite un e-mail dacă nu primesți un răspuns în timp util. Apoi poti trimite autorității publice un mesaj pentru a le reaminti și a le spune că încalcă legea.</p>

    </dd>

    <dt id="no_response">Ce se întâmplă dacă nu primesc niciodată un răspuns? <a href="#no_response">#</a> </dt>

    <dd>
      <p>Există mai multe lucruri pe care le poți face dacă nu primesti niciodată un răspuns.</p>
      <ul>
<li>Poate ca a existat o problemă reală și autoritatea nu a primit niciodată cererea ta. Merită să suni la autoritatea respectiva și să verifici politicos dacă au primit cererea care le-a fost trimisa pe e-mail.</li>
<li>Dacă nu au primit-o, problema se datorează cel mai probabil „filtrelor de spam”. Consultați autoritatea la măsurile din răspunsul '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">Văd o solicitare pe Ia Statul la Întrebări, dar nu am primit-o niciodată prin e-mail!'</a>. în secțiunea ofițeri FOI din acest ajutor.</li>
<li>Dacă tot nu ai noroc, atunci poți cere o revizuire internă și apoi să te plângi comisarului pentru informații cu privire la autoritate. Citeste pagina noastră '<a href="<%= help_general_path(:template => 'unhappy') %>">Nemulțumit de răspunsul pe care l-ați primit?'</a>.</li>

      </ul>
    </dd>

    <dt id="not_satifised">Ce se întâmplă dacă nu sunt mulțumit de răspuns?  <a href="#not_satifised">#</a> </dt>
    <dd>Dacă nu ai primit informațiile solicitate sau nu le-ai primit la timp, atunci citiți pagina noastră '<a href="<%= help_general_path(:template => 'unhappy') %>">Nemulțumit de răspunsul pe care l-ați primit?</a>'.
    </dd>

    <dt id="reuse">Se spune că nu pot reutiliza informațiile pe care le-am primit!  <a href="#reuse">#</a> </dt>
    <dd>
      <p>Autoritățile adaugă adesea o serie de reguli legale despre „Reutilizarea regulamentelor din 2005 privind informațiile din sectorul public”, ceea ce, la prima vedere, implică faptul că este posibil să nu puteți face nimic cu informațiile.
      </p>

      <p>Poți, desigur, să scrii articole despre informații primate, să le rezumi sau să citezi părți din ea. De asemenea, credem că ar trebui să te simțiți liber să poti republica informațiile în întregime, la fel ca și noi, chiar dacă, teoretic, s-ar putea să nu ai voie să faci acest lucru. Consultați  <a href="<%= help_officers_path(:anchor => 'copyright') %>">politica noastră privind drepturile de autor</a>.</p>
    </dd>

    <dt id="data_protection">Pot solicita informații despre mine? ? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>Nu. Solicitările făcute folosind  <%= site_name %> sunt publice, făcute în baza Legii privind libertatea de informare și nu te pot ajuta să găsesti informații despre o persoană privată.</p>

      <p>Dacă vrei să afli ce informații deține o autoritate publică despre tine, ar trebui să faci o „Solicitare de acces la subiect” în privat, folosind legea privind protecția datelor. </p>

      <p>Dacă vezi că cineva a inclus informații personale, poate fără să vrea, într-o solicitare, te rugăm să ne   <a href="<%= help_contact_path %>">contactezi imediat</a>
        pentru a le putea elimina.</p>
    </dd>

    <dt id="private_requests">Aș dori să-mi păstrez cererea secretă! (Cel puțin până când îmi public povestea)  <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %> este în prezent concepută doar pentru solicitări publice. Toate răspunsurile pe care le primim sunt publicate automat pe site, pentru ca oricine să le poată citi.</p>
      <p>Ar trebui să contactezi direct autoritatea publică dacă doresti să faci o solicitare în privat. 
      </p>
    </dd>

    <dt id="eir">De ce pot solicita doar informații despre mediu de la unele autorități?  <a href="#eir">#</a> </dt>

    <dd>
      <p>Unele autorități publice nu intră sub incidența Legii privind libertatea de informare, dar intră sub incidența unei alte legi numite Regulamente privind informațiile de mediu (EIR).
      </p>

      <p>Este o lege foarte asemănătoare, așa că poti faci o cerere folosind Ia Statul la Întrebări în același mod ca și o solicitare FOI. Singura diferenta este ca pe pagina in care iti scrii cererea iti aminteste ca poti solicita doar „informatii de mediu” si iti spune ce inseamna asta. 
      </p>

      <p>Desigur, poți solicita informații de mediu de la alte autorități. Doar faceți o solicitare pentru libertatea de informare (FOI) în mod normal. Autoritatea are datoria să stabilească dacă Regulamentul privind informațiile de mediu (EIR) este legislația mai potrivită pentru a răspunde.
      </p>
    </dd>

    <dt id="multiple">Pot trimite aceeași solicitare mai multor autorități? <a href="#multiple">#</a> </dt>

    <dd>Te rugăm să trimiți mai întâi o versiune de testare a solicitării tale către câteva autorități. Răspunsurile lor te vor ajuta să îmbunătățesti formularea cererii, astfel încât să obții cele mai bune informații atunci când trimiți cererea către toate autoritățile. Momentan nu există un sistem automat de trimitere a cererii către celelalte autorități, trebuie să o copiezi și să o inserezi manual.

    </dd>

    <dt id="offsite">Am făcut o solicitare în afara site-ului, cum o încarc în arhivă?<a href="#offsite">#</a> </dt>

    <dd><%= site_name %> este o arhivă a solicitărilor făcute prin intermediul site-ului și nu încearcă să fie o arhivă a tuturor solicitărilor FOI. Nu vom accepta niciodată încărcarea altor solicitări. În primul rând, nu am putea verifica dacă alte răspunsuri au venit de fapt de la autoritate. Dacă acest lucru contează cu adevărat pentru dvs., puteți oricând să faceți din nou aceeași cerere prin <%= site_name %>.
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">Cum moderați adnotările solicitărilor? <a href="#moderation">#</a> </dt>

      <dd>
        <p>Adnotările de pe  <%= site_name %>   sunt pentru a ajuta oamenii să obțină informațiile pe care le doresc sau pentru a le oferi indicații către locurile în care pot merge pentru a-i ajuta să acționeze în conformitate cu acestea. Ne rezervăm dreptul de a elimina orice altceva.
        </p>
        <p>Discuțiile politice nesfârșite nu sunt permise. Postați un link către un forum adecvat sau un site de campanie în altă parte.</p>
      </dd>
    <% end %>

  </dl>

  <p><strong>&rarr;</strong> Citiți despre  <a href="<%= help_privacy_path %>">confidențialitatea dvs.</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
